{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
    <h1>{{current_user.name }}</h1>
    <div class="col-sm-12 col-md-5 col-lg-5">
        <p>Bio: {{current_user.bio}}</p>

        <h3 class="text-center">Pitches</h3>
        {% if pitches %}
        <div class="row pitch-row">
            {% for pitch in pitches%}
            <div class="col-md-5 pitch-card">
                <h3 class="source-name">{{pitch.title}}</h3>
                <p>"{{pitch.content}}"</p>
                <p>CATEGORY: <strong>{{pitch.category}}</strong></p>
            </div>
            {% endfor %}
        </div>
        {%endif%}
       
    </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="img-container">
                </div>
            </div>
        <div>
            {% if user == current_user %}
        {% endif %}
    </div>
    

{% endblock %}