{% extends "base.html" %}

{% block styles%}
{{ super() }}
{% endblock%}

{% block content%}
<div class="container">
    <h3>{{pitch.title }} {{pitch.user.name}}</h3>
    <a class="pitch-comment" href="{{url_for('main.comment',name = current_user.name, category = pitch.category)}}"><button class="btn btn-info mr-0">Add
            a comment</button></a>
</div>

{% if comments %}
{%for comment in comments%}
<p class="d-inline"><a href="{{url_for('main.user',user_id=comment.user.id)}}"><strong>{{comment.user.name | upper}}</strong></a>: " {{comment.content}} "</p>
<p>Posted on <strong>{{comment.date}}</strong> at <strong>{{comment.time}}</strong></p>
</div>
</div>
{% endfor %}
        {% else %}
        <h2>There are no comments</h2>
        {% endif %}