{% extends 'base.html' %}

<!---- Styles block-->
{% block styles%}
{{super()}}
{% endblock %}
<!---- Content block-->
{% block content%}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <h1 class="text-center"> {{title}}</h1>
    <div class="img">
        <a href="/pitches"><img src="https://miro.medium.com/max/1575/0*vr9CgUKm35izlY5U.gif" width="" height="250"></a>
    </div>
    {% if pitches %}
    {% for item in pitches %}
    <div class="col-md-6">
        <h3 class="source-name">{{item.title}}</h3>
        <p>{{item.content}}</p>
        <p>{{item.category}}</p>
    </div>
    {% endfor %}

{% else %}
<h2>There are no pitches in this category</h2>
{% if current_user.is_authenticated %}
<a href="{{url_for('main.add_pitch',uname = current_user.name)}}"><button class="btn btn-info">Add A Pitch</button></a>
{% endif %}
{% endif %}
</div>


{% endblock%}