{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}

{% block content %}
<div class="container">
    <h1>{{user.name}}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="img-container">
                <img src="{{url_for('static', filename ='user.profile_pic')}}" class="img-thumbnail profile-pic">
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <p>BIO: {{user.bio}}</p>
        </div>
    </div>
    <div class="">
        <h3 class="text-center">Pitches</h3>
        {% if pitches %}
        <div class="row pitch-row">
            {% for pitch in pitches%}
            <div class="col-md-5 pitch-card">
                <img src="{{url_for('static',filename='pitch.user.profile_pic')}}" alt="">
                <h3 class="source-name">{{pitch.title}}</h3>
                <p>Posted by <strong>{{pitch.name.name}}</strong></p>
                <p>"{{pitch.content}}"</p>
                <p>CATEGORY: <strong>{{pitch.category}}</strong></p>
            </div>
            {% endfor %}
        {% else %}
        <h2>You have no pitches</h2>
        {% endif %}
    </div>
</div>
{% endblock %}